* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    /* background: #F2F0EF;
    color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    background-image: url(../Images/skibidui.gif);
}

#header {
    display:flex; justify-content:space-between; align-items:center; background-color:brown; padding:0 30px; height:85px; box-shadow:0 4px 8px rgba(0,0,0,0.2);
}
#header-1 {
    display:flex; align-items:center;
}
#header-1 h2 {
    color:#FFD84D; font-size:28px; font-weight:700;
}
#header-1 img {
    width:55px; height:55px; margin-left:10px;
}
#header-2 {
    display:flex; gap:25px; font-size:18px;
}
#header-2 a, #header-2 p {
    color:#FFD84D; text-decoration:none; cursor:pointer; transition:0.2s ease;
}
#header-2 a:hover, #header-2 p:hover {
    color:#fff;
}
.container {
    background: #CC2522;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    width: 320px;
    text-align: center;
    display:flex;
    flex-direction:column;
}


h2 {
    margin-bottom: 25px;
}

.userinput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userinput input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #E8AE02;
    color: #fff;
    font-size: 14px;
}

.userinput input::placeholder {
    color: #fff;
}

button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ff4747;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ff2f2f;
}
#logo
{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width:25%;
    max-width: 80%;
    margin: 0 auto;
}
