/* Ethan 1-87, could change */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #F2F0EF;
    color: #000;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.container {
    background: #CC2522;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    width: 320px;
    text-align: center;
    display:flex;
    flex-direction:column;
}
h2 {
    margin-bottom: 25px;
}
.userinput {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.userinput input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #E8AE02;
    color: #fff;
    font-size: 14px;
}
.userinput input::placeholder {
    color: #fff;
}
button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ff4747;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.1s;
}
button:hover {
    background: #ff2f2f;
}
#logo
{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width:25%;
    max-width: 80%;
    margin: 0 auto;
}
button:active
{
      background: #2beb44;
      box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.6);
     
}
 #header-2 {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    padding: 15px;
    font-size: 20px;
    color: yellow;
    background: #CC2522; /* add this */
    width: 100%;         /* add this */
}

#header-2 p, #header-2 a {
    color: yellow;
}
